* {
    margin: 0;
    padding: 0;
}

body{
	display:flex;
	min-height:100vh;
	justify-content:center;
	align-items:center;
}

h1, h2, h3 {
    font-weight: 600;
    color: #2c3e50;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
}

.empty {
    margin: 5%;
    text-align: center;
}

.right {
    /*margin-left: 150px;*/
}


.container {
	display:flex;
	flex:0 1 auto;
	flex-direction:column;
	justify-content:center;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 10px #808080;
    box-shadow: 0px 0px 10px #808080;
    transition: box-shadow 1s;
}

    .container:hover {
        box-shadow: 0px 0px 10px #0026ff;
    }

.content {
	align-self:center;
	padding:80px;
}

.footer {
	align-self:flex-end;
}

@media (max-width:818px) {
    .content{
        font-size:14px;
		padding:50px;
    }
    h3.empty{
        font-size:10px;
    }
}
@media (min-width:500px){
    .container{
        min-width:392px;
		padding:30px;
    }
}
